<section style="margin:0;padding:0 0 8px;text-align:center;">
  <section style="display:flex;align-items:center;justify-content:center;margin:0;padding:0;">
    <span style="display:inline-block;height:1px;width:48px;background:#E4E4E7;margin-right:16px;font-size:0;line-height:0;"></span>
    <span style="font-size:10px;color:#A1A1AA;letter-spacing:4px;font-weight:500;"><span leaf="">END</span></span>
    <span style="display:inline-block;height:1px;width:48px;background:#E4E4E7;margin-left:16px;font-size:0;line-height:0;"></span>
  </section>
</section>
