<section style="padding:0 10px;">
    <section style="text-align:center;margin:0 0 36px;">
      <section style="display:flex;align-items:center;justify-content:center;">
        <span style="height:1px;width:48px;background:#E4E4E7;margin-right:16px;"><span leaf=""><br></span></span>
        <span style="font-size:10px;color:#A1A1AA;letter-spacing:4px;font-weight:500;"><span leaf="">END</span></span>
        <span style="height:1px;width:48px;background:#E4E4E7;margin-left:16px;"><span leaf=""><br></span></span>
      </section>
    </section>
  </section>
