<figure style="display: flex; flex-direction: column; justify-content: center; align-items: center;margin:5px 0;">{}
<figcaption style="margin-top: 5px; text-align: center; color: #888; font-size: 14px;">{}</figcaption>
</figure>
