<section id="nice" style="text-align:left;background-image: linear-gradient(90deg, rgba(50, 0, 0, .05) 3%, transparent 0), linear-gradient(1turn, rgba(50, 0, 0, .05) 3%, transparent 0);background-size: 20px 20px; background-position: 50%;font-weight:400;font-size: 15px; color: #333; padding: 5px; line-height: 1.75; word-spacing: 0px; word-break: break-word; font-family: -apple-system-font,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif">
