<span class="footnote-item" style="display:flex;margin-bottom:6px;"><span class="footnote-num" style="display:inline;width:10%;color:#999;font-size:13px;line-height:1.8;font-family:inherit;">[{}] </span><span style="display:inline;width:90%;font-size:14px;line-height:1.8;color:#555;word-break:break-all;">{}: <em style="font-style:italic;color:#4A90D9;">{}</em></span></span>
